[defaults]
inventory = ./ansible/inventory/staging.ini
remote_user = ubuntu
host_key_checking = False
vault_password_file = ~/.ansible_vault_pass
roles_path = ./ansible/roles
deprecation_warnings = False
timeout = 60
local_tmp = /tmp/.ansible-local
remote_tmp = ~/.ansible/tmp

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
